
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.gt-container, .gt-container-center {
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%; }

body, html {
  min-height: 100%; }

/* Text align */
.gt-text-left {
  text-align: left; }

.gt-text-right {
  text-align: right; }

.gt-text-center {
  text-align: center; }

/* Floats */
.gt-float-left {
  float: left; }

.gt-float-right {
  float: right; }

.gt-float-none {
  float: none; }

/* Vertical align */
.gt-vertical-align:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

[class*="gt-vertical-align-"] {
  display: inline-block; }

.gt-vertical-align-top {
  vertical-align: top; }

.gt-vertical-align-middle {
  vertical-align: middle; }

.gt-vertical-align-bottom {
  vertical-align: bottom; }

/* Absolute centering */
.gt-relative {
  position: relative; }

.gt-absolute-center {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

/* Circle element */
.gt-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/*== Grid ==*/
/* Grid clearfix */
.gt-row:before, .gt-row:after {
  content: " ";
  display: table; }

.gt-row:after {
  clear: both; }

.gt-row + .gt-row {
  margin-top: 20px; }

[class*="gt-width-"] {
  width: 100%; }

.gt-row > [class*="gt-width-"] {
  float: left;
  padding-left: 20px; }

.gt-row {
  margin-left: -20px; }

/* No Padding Grid */
.gt-row-nopad {
  margin-left: 0; }

.gt-row-nopad + .gt-row-nopad {
  margin-top: 0; }

.gt-row-nopad > [class*="gt-width-"] {
  padding-left: 0; }

.gt-width-1-2, .gt-width-2-4, .gt-width-3-6 {
  width: 50%; }

.gt-width-1-3, .gt-width-2-6 {
  width: 33.333%; }

.gt-width-2-3, .gt-width-4-6 {
  width: 66.667%; }

.gt-width-1-4 {
  width: 25%; }

.gt-width-3-4 {
  width: 75%; }

.gt-width-1-5 {
  width: 20%; }

.gt-width-2-5 {
  width: 40%; }

.gt-width-3-5 {
  width: 60%; }

.gt-width-4-5 {
  width: 80%; }

.gt-width-1-6 {
  width: 16.667%; }

.gt-width-5-6 {
  width: 83.333%; }

.gt-width-1-7 {
  width: 14.2857%; }

.gt-width-1-8 {
  width: 12.5%; }

.gt-width-1-9 {
  width: 11.1111%; }

.gt-width-1-10 {
  width: 10%; }

/* Phone landscape and bigger */
@media (min-width: 480px) {
  .gt-float-left-small {
    float: left; }
  .gt-float-right-small {
    float: right; }
  /* Whole */
  .gt-width-small-1-1 {
    width: 100%; }
  /* Halves */
  .gt-width-small-1-2, .gt-width-small-2-4, .gt-width-small-3-6 {
    width: 50%; }
  /* Thirds */
  .gt-width-small-1-3, .gt-width-small-2-6 {
    width: 33.333%; }
  .gt-width-small-2-3, .gt-width-small-4-6 {
    width: 66.666%; }
  /* Quarters */
  .gt-width-small-1-4 {
    width: 25%; }
  .gt-width-small-3-4 {
    width: 75%; }
  /* Fifths */
  .gt-width-small-1-5 {
    width: 20%; }
  .gt-width-small-2-5 {
    width: 40%; }
  .gt-width-small-3-5 {
    width: 60%; }
  .gt-width-small-4-5 {
    width: 80%; } }

/* Tablet and bigger */
@media (min-width: 768px) {
  .gt-float-left-medium {
    float: left; }
  .gt-float-right-medium {
    float: right; }
  /* Whole */
  .gt-width-medium-1-1 {
    width: 100%; }
  /* Halves */
  .gt-width-medium-1-2, .gt-width-medium-2-4, .gt-width-medium-3-6 {
    width: 50%; }
  /* Thirds */
  .gt-width-medium-1-3, .gt-width-medium-2-6 {
    width: 33.333%; }
  .gt-width-medium-2-3, .gt-width-medium-4-6 {
    width: 66.666%; }
  /* Quarters */
  .gt-width-medium-1-4 {
    width: 25%; }
  .gt-width-medium-3-4 {
    width: 75%; }
  /* Fifths */
  .gt-width-medium-1-5 {
    width: 20%; }
  .gt-width-medium-2-5 {
    width: 40%; }
  .gt-width-medium-3-5 {
    width: 60%; }
  .gt-width-medium-4-5 {
    width: 80%; } }

/* Desktop and bigger */
@media (min-width: 960px) {
  .gt-float-left-large {
    float: left; }
  .gt-float-right-large {
    float: right; }
  /* Whole */
  .gt-width-large-1-1 {
    width: 100%; }
  /* Halves */
  .gt-width-large-1-2, .gt-width-large-2-4, .gt-width-large-3-6 {
    width: 50%; }
  /* Thirds */
  .gt-width-large-1-3, .gt-width-large-2-6 {
    width: 33.333%; }
  .gt-width-large-2-3, .gt-width-large-4-6 {
    width: 66.666%; }
  /* Quarters */
  .gt-width-large-1-4 {
    width: 25%; }
  .gt-width-large-3-4 {
    width: 75%; }
  /* Fifths */
  .gt-width-large-1-5 {
    width: 20%; }
  .gt-width-large-2-5 {
    width: 40%; }
  .gt-width-large-3-5 {
    width: 60%; }
  .gt-width-large-4-5 {
    width: 80%; } }

@media (min-width: 1220px) {
  .gt-float-left-xlarge {
    float: left; }
  .gt-float-right-xlarge {
    float: right; }
  /* Whole */
  .gt-width-xlarge-1-1 {
    width: 100%; }
  /* Halves */
  .gt-width-xlarge-1-2, .gt-width-xlarge-2-4, .gt-width-xlarge-3-6 {
    width: 50%; }
  /* Thirds */
  .gt-width-xlarge-1-3, .gt-width-xlarge-2-6 {
    width: 33.333%; }
  .gt-width-xlarge-2-3, .gt-width-xlarge-4-6 {
    width: 66.666%; }
  /* Quarters */
  .gt-width-xlarge-1-4 {
    width: 25%; }
  .gt-width-xlarge-3-4 {
    width: 75%; }
  /* Fifths */
  .gt-width-xlarge-1-5 {
    width: 20%; }
  .gt-width-xlarge-2-5 {
    width: 40%; }
  .gt-width-xlarge-3-5 {
    width: 60%; }
  .gt-width-xlarge-4-5 {
    width: 80%; } }

/*# sourceMappingURL=layout.css.map */